# Node modules
node_modules/
frontend/node_modules/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build output
frontend/dist

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE settings
.vscode/
.idea/
stream-of-conshushness-main/
node_modules/
stream-of-conshushness-main/
node_modules/

# big zips
SOC_*.zip
*.zip
