html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
@media (max-width: 600px) {
  html, body {
    font-size: 15px;
  }

  button, input, textarea, select {
    font-size: 1rem;
  }
}
